* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.login-box {
    width: 430px;

    padding: rgba(30, 41, 59, 0,75);

    border: 1px solid rgba(255, 255, 255, 0,15);

    box-shadow: 0 10px 35px rgba (0, 0, 0, 0,35);

    backdrop-filter: blur(8px);
}

.login-box h2 {
    color: black;

    text-align: center;

    font-size: 18px;

    font-weight: 600;

    margin-bottom: 25px;
}

.input-box {
    position: relative;

    width: 100%;

    margin-bottom: 15px;
}

.input-box input {
    width: 100%;

    height:34px;

    padding: 5px 35px 5px 10px;

    background: transparent;

    border: 1px solid rgba(255, 255, 255, 0,75);

    outline: none;


    font-size: 14px;
}

.input-box input:focus {
    border-color: white;

    box-shadow: 0 0 4px rgba(255, 255, 255, 0,3);
}

.login-button {
    display: block;

    width: 135px;

    height: 30px;

    margin: 17px auto 0;

    border: none;

    border-radius: 3px;

    background-color: #dcc595;

    color: #555;

    font-size: 12px;

    cursor: pointer;
}

.login-button:hover {
    background-color: white;

    color: #222;
}
.set-image {
    height: 180px;
    object-fit: contain;
    background-color: whitesmoke;
}
.nav-bar {
    background-color: #1bb19b;
    font-family:'Lucida Sans';
}
.image-detail {
    height: 300px;
    object-fit: cover;
}
.det-margin {
    margin-top: 100px !important;
}
.div-height {
    min-height: 400px;
}